<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Fuente de letra -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>MonkeyStore</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/css/topBar.css" type="text/css">
</head>
<body>
    <section class="TopBar">
        <a href="/Articles" style="color: white; text-decoration: none;">
            <h1>SoftStore</h1>
        </a>
        
        <a href="chat" id="soporte"><img src="/assets/icons/help.png" height="20px"></a>
    </section>
    <div>
        <h1>Buy</h1>
        <div>
            <h2>Select a payment method</h2>
            <div>
                <a>Debit</a>
                <a>Credit</a>
                <a>cash (Oxxo)</a>
            </div>
        </div>
        <div>
            <h1>Enviar a</h1>
            <div th:each="user : ${currentUser}">
                <input id="country" placeholder="Country" type="text" th:value="${user.country}" >
                <input id="city" placeholder="City" type="text" th:value="${user.city}">
                <input id="zipCode" placeholder="Zip code" type="number" th:value="${user.zipCode}">
                <input id="street" placeholder="Street" type="text" th:value="${user.street}">
                <input id="houseNumber" placeholder="House number" type="number" th:value="${user.houseNumber}">
                <input id="additionalDescription" placeholder="Additional description" type="text" th:value="${user.additionalDescription}">
            </div>
        </div>
        <button onclick="sendData()">Make payment</button>
        <script>
            function sendData (){
                const country = document.getElementById("country").value;
                const city = document.getElementById("city").value;
                const zipCode = document.getElementById("zipCode").value;
                const street = document.getElementById("street").value;
                const houseNumber = document.getElementById("houseNumber").value;
                const additionalDescription = document.getElementById("additionalDescription").value;
                
                const rute = "/pay/"+country+"/"+city+"/"+zipCode+"/"+street+"/"+houseNumber+"/"+additionalDescription;
                window.location.href=rute;
                country.value = "";
                city.value = "";
                zipCode.value = "";
                street.value = "";
                houseNumber.value = "";
                additionalDescription.value = "";
            };
        </script>
    </div>
</body>
</html>