<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Fuente de letra -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>MonkeyStore</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/css/articles.css" type="text/css">
    <link rel="stylesheet" href="/css/topBar.css" type="text/css">
</head>
<body>
    <section class="TopBar">
        <a href="/Articles" style="color: white; text-decoration: none;">
            <h1>CimaStore</h1>
        </a>

        <a href="chat" style="color: white; text-decoration: none;">Ayuda</a>
    </section>

    <h1>Shop Car</h1>
    <main class="Table">
        <a class="TableItem" th:each="articulo : ${listaArticulos}" th:href="@{/article/{id}(id=${articulo.id})}">
            <img src="/assets/celular_triste.png">
            <h1 th:text="${articulo.name}"></h1>
            <p th:text="${articulo.price}"></p>
            <a th:href="@{/delete/{id}(id=${articulo.id})}">Delete</a>
        </a>
        <script>
            document.querySelectorAll('.TableItem').forEach(item => {
                const h3 = item.querySelector('h1'); // Selecciona el h3 dentro de cada <a>
                const img = item.querySelector('img'); // Selecciona la imagen dentro de cada <a>

                if (h3 && img) {
                    const h3Text = h3.textContent.trim(); // Obtén el texto del h3
                    img.src = `/assets/${h3Text}.jpg`; // Cambia el src de la imagen
                }
            });
        </script>
    </main>
</body>
</html>
