.articleBase{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vw;

}

.articleInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 2vh;
    height: 50%;
    width: 50%;
    
    border-radius: 10px;
    background-color: #43E5A0;
}

.articleInfo div{
    width: 1%;
    height: 80%;
    background-color: white;
    border-radius: 32px;
}

.articleInfo section{
    width: 50%;
}

.articleInfo section img{
    width: 80%;
    border-radius: 12px;
}

.articleInfo main{
    width: 50%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    width: 50%;
    height: 100%;
}

.articleInfo main h1{
    font-size: 6vh;
}

.articleInfo main a{
    color: white;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}

.articleInfo main a:hover{
    text-decoration: underline;
}
