.articleBase{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vw;

}

.articleInfo{
    display: flex;
    
    height: 50%;
    width: 50%;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(142, 189, 157,5),rgba(27, 71, 93,5));
}


.articleInfo section{
    width: 50%;
}

.articleInfo section img{
    width: 80%;
    border-radius: 12px;
}

.articleInfo main{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    width: 50%;
    height: 100%;
}
