#ContinueButton{
    background-color: #FAD564;
    color: #1B475D;
    border: none;
    margin: auto;
    padding: 15px 10px;
    /*border-bottom: 2px solid white;
    ;*/
    border-radius: 10px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.startPage{

}


