.TopBar{
    margin: 0;
    display: flex;
    background-color: #1B475D;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    justify-content: space-between;
    align-items: center;
}

.TopBar button{
    border-radius: 10px;
}

button{
    color: blue;
}


.elBoton {
    background: blue;
}

.elBoton:hover {
    background-color: #d32f2f;
}
