<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>MonkeyStore</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
    <section class="LgBase">

        <section class="LgContainer">
            <h1>Bienvenido a nuestra pagina</h1>
            <button id="ContinueButton" onclick="window.location.href='/Articles'">Continuar a ver el mercado</button>
        </section>
    </section>
</body>
</html>