<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <title>MonkeyStore</title>
    
    <link rel="stylesheet" href="/css/stylesARG.css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
    <div class="startPage">
        <section id="WelcomeTitle" class="Title">
            <h2>Welcome to</h2>
            <h1>SoftStore</h1>
        </section>
    </div>
<script src="/JS/Welcome.js"></script>
</body>
</html>